<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
    <head>
        <%- include('../partials/head'); %>
        <!-- <link rel="stylesheet" type="text/css" href="theme-assets/vendors/css/charts/chartist.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="theme-assets/css/pages/dashboard-ecommerce.css"> -->
    </head>
    <body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
    <!-- fixed-top-->
        <%- include('../partials/header'); %>
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <%- include('../partials/sidebar'); %>
        <% if(loadedData === ''){ %>
            <script>
                location.href = "/data";
            </script>
        <%}%>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-wrapper-before"></div>
                <div class="content-header row">
                    <div class="content-header-left col-md-4 col-12 mb-2">
                      <h3 class="content-header-title">Dashboard</h3>
                    </div>
                    <div class="content-header-right col-md-8 col-12">
                      <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active">Dashboard
                            </li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- Chart -->
                    
                <div class="content-body">
                    <canvas id='viewer_3d' class='3dviewer' style="display: none;"></canvas>
                    <!-- line chart section start -->
                    <section id="chartjs-line-charts">
                        <!-- Line Chart -->
                        <% if(data) { %>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <% for(const [index,element] of data.entries()) { %>
                                        <% if(index > data.length/2) {%>
                                            <div class="chart_element">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title"><%= element.name %></h4>
                                                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                                        <div class="heading-elements">
                                                            <a data-action="expand"><i class="ft-maximize"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="card-content collapse show">
                                                        <div class="card-body chartjs">
                                                            <div class="row">
                                                                <div class="col-lg-9 col-md-9 col-9">
                                                                    <div class="date_button_group">
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1week-' + element.name %>">1 Week</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1month-' + element.name %>">1 Month</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '3month-' + element.name %>">3 Month</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1year-' + element.name %>">1 Year</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= 'ytd-' + element.name %>">YTD</button>
                                                                    </div>
                                                                    <div>
                                                                        <canvas id="<%= 'canvas-model-' + element.name %>" style="height: 300px;"></canvas>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-3" style="border:solid thin #b9bbbf; border-radius:5px; padding: 20px">
                                                                    <ul class="list-unstyled" style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
                                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-date-"+element.name %>'></span></li>
                                                                        <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-time-"+element.name %>'></span></li>
                                                                        <li><i class="fa fa-h-square"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-volume-"+element.name %>'></span>&nbsp;m³</li>
                                                                        <li><i class="fa fa-tumblr"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-mass-"+element.name %>'></span>&nbsp;t</li>
                                                                        <li><span style="font-weight:bold">ρ</span>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-density-"+element.name %>'></span>&nbsp;kg/m³</li>
                                                                        <li><span style="font-weight:bold">Ø</span>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-averagevolume-"+element.name %>'></span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="view_panel">
                                                                <!-- model data -->
                                                                <input type="hidden" id="<%= 'input-model-' + element.name %>" value='<%= JSON.stringify(element) %>'>
                                                                <input type="hidden" id="<%= 'input-modelid-' + element.name %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <% for(const [index,element] of data.entries()) { %>
                                        <% if(index <= data.length/2) {%>
                                            <div class="chart_element">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="card-title"><%= element.name %></h4>
                                                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                                        <div class="heading-elements">
                                                            <a data-action="expand"><i class="ft-maximize"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="card-content collapse show">
                                                        <div class="card-body chartjs">
                                                            <div class="row">
                                                                <div class="col-lg-9 col-md-9 col-9">
                                                                    <div class="date_button_group">
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1week-' + element.name %>">1 Week</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1month-' + element.name %>">1 Month</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '3month-' + element.name %>">3 Month</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= '1year-' + element.name %>">1 Year</button>
                                                                        <button class="date_button <%= 'dt-' + element.name %>" id="<%= 'ytd-' + element.name %>">YTD</button>
                                                                    </div>
                                                                    <div>
                                                                        <canvas id="<%= 'canvas-model-' + element.name %>" style="height: 300px;"></canvas>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-3" style="border:solid thin #b9bbbf; border-radius:5px; padding: 20px;">
                                                                    <ul class="list-unstyled" style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
                                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-date-"+element.name %>'></span></li>
                                                                        <li><i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-time-"+element.name %>'></span></li>
                                                                        <li><i class="fa fa-h-square"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-volume-"+element.name %>'></span>&nbsp;m³</li>
                                                                        <li><i class="fa fa-tumblr"></i>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-mass-"+element.name %>'></span>&nbsp;t</li>
                                                                        <li><span style="font-weight:bold">ρ</span>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-density-"+element.name %>'></span>&nbsp;kg/m³</li>
                                                                        <li><span style="font-weight:bold">Ø</span>&nbsp;&nbsp;&nbsp;<span id='<%= "lm-averagevolume-"+element.name %>'></span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="view_panel">
                                                                <!-- model data -->
                                                                <input type="hidden" id="<%= 'input-model-' + element.name %>" value='<%= JSON.stringify(element) %>'>
                                                                <input type="hidden" id="<%= 'input-modelid-' + element.name %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>
                        <% if(names) { %>
                            <input type="hidden" id="input-names" value='<%- names %>'>
                        <% } %>
                    </section>
                    <!-- // line chart section end -->

                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////-->
        <!-- <script src="/theme-assets/vendors/js/charts/chartist.min.js" type="text/javascript"></script> -->
        <!-- <script src="/theme-assets/js/scripts/pages/dashboard-lite.js" type="text/javascript"></script> -->
        <!-- socket db update -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- chart -->
        <!-- <script src="/theme-assets/vendors/js/charts/chart.min.js" type="text/javascript"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script src="/js/chart.js" type="module"></script>
        <script>
            $(document).ready(function(){
                $("[id^=btn-]").hide();
                $('div.container_main').addClass('small');
                $('a[data-action="expand"]').click(() => {
                    $('div.container_main').toggleClass('small');
                    $('.dashborad_three #viewer_3d').toggleClass('expand');
                });
            });
            $('.view_panel').on('click','.view_close',function(){
                $(this).parent().hide();
            });
            $.toast({
                heading: 'Load Database',
                text: 'Load Latest Data',
                showHideTransition: 'slide',
                icon: 'success',
                hideAfter: 5000   // in milli seconds
            });
            setTimeout(() => {
                document.location.href = '/dashboard';
            },<%= delaytime%>);
        </script>
        <!-- <script src="/js/alert_getmodelfromdb.js" type="text/javascript"></script> -->

        <%- include('../partials/footer'); %>
    </body>
    </html>