<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
	<head>
		<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
		<%- include('../partials/head'); %>
		<style>
			#DataTables_Table_0_wrapper{
				padding-left: 0px;
				padding-right: 0px;
				width: calc(100% - 30px);
			}
			select.form-control:not([size]):not([multiple]){
				height: calc(2.75rem + -7px);
			}
		</style>
	</head>
	<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">
		<!-- fixed-top-->
		<%- include('../partials/header'); %>
		<!-- ////////////////////////////////////////////////////////////////////////////-->
		<%- include('../partials/sidebar'); %>
		<% if(loadedData === ''){ %>
			<script>
				$.toast({
					heading: 'Please Load Data From Database',
					text: 'Click Get Data Button',
					showHideTransition: 'slide',
					icon: 'success',
					hideAfter: 5000   // in milli seconds
				})
				</script>
		<%}%>

		<div class="app-content content">
			<div class="content-wrapper">
				<div class="content-wrapper-before">
					
				</div>
				<div class="content-header row">
					<div class="content-header-left col-md-4 col-12 mb-2">
					<h3 class="content-header-title">Data</h3>
					</div>
					<div class="content-header-right col-md-8 col-12">
						<div class="breadcrumbs-top float-md-right">
							<div class="breadcrumb-wrapper mr-1">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/">Home</a>
									</li>
									<li class="breadcrumb-item active">Data
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
				<div class="content-body">
					
					<!-- Table head options start -->
					<div class="row">
						<div class="col-12">
							<div class="card">
								<!-- <div class="card-header">
									<h4 class="card-title">Owl Studio Model Table</h4>
									<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
									<div class="heading-elements">
											<a data-action="expand"><i class="ft-maximize"></i></a>
										</ul>
									</div>
								</div> -->
								<div class="card-content collapse show">
									<div class="card-body" style="padding-bottom: 0px;">
										<div class="row">
											<!-- <div class="col-md-9"> -->
												<!-- <p>This is Owl Studio Model Table.
													<br>You can load history and view 3d models.
												</p> -->
											<!-- </div> -->
											<div class="col-md-12">
												<input type="button" style="float: right;" class="btn btn-custom-fill" value='Get Data' style="float: bottom" onclick="onclick_get()">
											</div>
										</div>
										<% if (messages.error) { %>
											<!-- <p style="color:red"><%- messages.error %></p> -->
											<script>
												$.toast({
													heading: 'Error',
													text: '<%- messages.error %>',
													showHideTransition: 'fade',
													icon: 'error',
													hideAfter: 1500   // in milli seconds
												});
												</script>
										<% } else{
											if (messages.success) { %>
											<!-- <p style="color:green"><%- messages.success %></p> -->
											<script>
												$.toast({
													heading: 'Success',
													text: '<%- messages.success %>',
													showHideTransition: 'slide',
													icon: 'success',
													hideAfter: 1500   // in milli seconds
												});
												</script>
										<% } else {
											if(loadedData !== ''){ %>
											<!-- <p style="color:green"><%- messages.success %></p> -->
											<script>
												$.toast({
													heading: 'Reload Database',
													text: 'Reload Latest Data',
													showHideTransition: 'slide',
													icon: 'success',
													hideAfter: 1500   // in milli seconds
												});
											</script>
										<% } } }%>	      
									</div>
									<div class="table-padding-set">
										<div class="table-responsive">
											<table class="table table-striped" style="width:calc(100% - 15px)">
												<thead class="thead-dark">
													<tr>
														<th scope="col">Name</th>
														<th scope="col">Date</th>
														<th scope="col">Time</th>
														<th scope="col">Mass</th>
														<th scope="col">Volume</th>
														<th scope="col">#</th>
													</tr>
												</thead>
												<tbody id='table_main_data'>
													
												</tbody>
											</table>
											<div style="display: flex; justify-content: center;" id="prepross"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Table head options end -->
					
				</div>
			</div>
		</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

	<%- include('../partials/footer'); %>
	<script>
		var jsdata = <%- JSON.stringify(loadedData) %>; 
		var server_ip = <%- JSON.stringify(server_ip) %>; 
	</script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/fixedcolumns/4.0.0/js/dataTables.fixedColumns.min.js"></script>
	<script src="/js/alert_getmodelfromdb.js" type="text/javascript"></script>
   	<script type="text/javascript">
		var wsUri = "ws://" + server_ip + ":1234";
		var websocket = null;
		$(document).ready(()=>{
			$('table').width('100%');
			$('#table_main_data').html('');
			table = $('table').DataTable( {
				responsive: true,
				autoWidth: true,
				"processing": true,
				data: jsdata,
				order: [[ 1, "desc" ]],
				scrollX:        true,
				scrollCollapse: true,
				fixedColumns: {
					left: 1,
				},
				columns: [
					{ data: 'name', responsivePriority: 1, targets: 0 },
					{ data: 'date', targets: 1},
					{ data: 'time', targets: 2},
					{ data: 'mass', targets: 3,render:function(data,type,row){
						return data.toFixed(2) + ' t';
					}},
					{ data: 'volume', targets: 4,render:function(data,type,row){
						return data.toFixed(2) + ' m³';
					}},
					{ data: 'setid', width: '20%',targets: 5, render:function ( data, type, row ) {
					return '<a href="/data/view/' + row._id + '" class="btn btn-custom-line mb-1" style="padding:0.75rem; min-width: 3rem; margin-right:15px;"><i class="fa fa-eye" aria-hidden="true"></i></a><a href="/data/edit/' + row._id + '" class="btn btn-custom-line mb-1" style="padding:0.75rem; min-width: 3rem; margin-left:15px"><i class="fa fa-pencil" aria-hidden="true"></i></a>';}},
				],
			});
			if(jsdata === '')
				onclick_get();
			setInterval(() => {
				$.post('/data/getloadflag',function(req){
					console.log(req);
					if(req == 'success')
						location.href = '/data';
				});
			}, 10000);
		});
	</script>
	</body>
</html>